#reputation {
  color: #000;
  font-family: Consolas,monaco,monospace;
  font-size: 12px;
  background:#DBDBDB;
}

.rep-listing {
//  margin-left: 10px;
  font-weight: normal;
  font-size: 14px;
}

#exalted > .rep-listing,
#honored > .rep-listing,
#revered > .rep-listing
{
  font-weight: bold;
}

#honored > .rep-listing {
  color: #072B73;
}

#revered > .rep-listing {
  color: #43592D;
}

#exalted > .rep-listing {
  color: #731943;
}

#hated,
#hostile,
#unfriendly,
#neutral,
#friendly,
#honored,
#revered,
#exalted
{
  font-weight: bold;
  font-size: 24px;
  color: #000;
  text-transform: uppercase;
  float: left;
  margin-right: 20px;
}

#hated:before{
  content: "hated";
}

#hostile:before{
  content: "hostile";
}

#unfriendly:before{
  content: "unfriendly";
}

#neutral:before{
  content: "neutral";
}

#friendly:before{
  content: "friendly";
}

#honored:before{
  content: "honored";
}

#revered:before{
  content: "revered";
}

#exalted:before{
  content: "exalted";
}
